@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
    .t-desktop{
        top: 39%; 
        left: 50%; 
        transform: translate(-50%, -50%);
    }

    .t-mobile{
        top: 17%; 
        left: 50%; 
        transform: translate(-50%, -50%);
    }
}

